<div class="job-screen-wrapper" @fadeInAnimation>

    <div class="filter-wrapper">
        <div class="filter-dropdown">
            <div>Recent</div>
            <mat-icon>expand_more</mat-icon>
        </div>
        <div class="filter-dropdown">
            <div>High Priority</div>
            <mat-icon>expand_more</mat-icon>
        </div>
    </div>

    <div class="job-cards-wrapper">
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
    </div>    
</div>
