<div class="job-screen-wrapper" @fadeInAnimation>

    <div class="filter-button-wrapper">
        <div class="filter-wrapper">
            <div class="filter-dropdown">
                <mat-form-field>
                    <mat-select [(value)]="selectedSortOption" (selectionChange)="onSortOptionChange($event)">
                        <mat-option value="Newest">Newest</mat-option>
                        <mat-option value="Oldest">Oldest</mat-option>
                        <mat-option value="A-Z">A-Z</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filter-dropdown">
                <mat-form-field>
                    <mat-select [(value)]="selectedPriorityOption" (selectionChange)="onPriorityOptionChange($event)">
                        <mat-option value="All">All</mat-option>
                        <mat-option value="High">High</mat-option>
                        <mat-option value="Medium">Medium</mat-option>
                        <mat-option value="Low">Low</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="button-add" (click)="openDialog()">
            + Add Job
        </div>
    </div>

    <div class="job-cards-wrapper">
        <app-job-card
            *ngFor="let job of sortedJobs; trackBy: trackByJobId"
            [job]="job"
            (editJob)="openEditDialog($event)"
            (deleteJob)="deleteJob($event)">
        </app-job-card>
    </div>    
</div>
