.job-screen-wrapper{
    background-color: white;
    margin: 32px 0 0 32px;
    padding: 40px;
    border-radius: 12px;
    height: 100%; /* Use 100% of the parent height */
    overflow-y: auto; /* Enable vertical scrolling for content overflow */
    
    .filter-button-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .filter-wrapper{
            display: flex;
            gap: 32px;
    
            .filter-dropdown{
                display: flex;
            }
        }
    }
}

.job-cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
