<!-- <h2 mat-dialog-title>{{project.name}}</h2> -->

  <mat-dialog-content class="dialog-container">

    <div class="title-container">
      <div class="project-title">{{project.name}}</div>
      <div class="action-buttons">
        <mat-icon (click)="editProject()">edit</mat-icon>
        <mat-icon (click)="deleteProject()">delete</mat-icon>
      </div>
    </div>

    <div class="project-detail-container">
      <div class="project-details">
        <div class="date-progress-container">
          <div class="date-details">
            <div> {{ project.startDate | date }}</div>
            <div class="separator">-</div>
            <div> {{ project.endDate ? (project.endDate | date) : 'Ongoing' }}</div>
          </div>
          <!-- Progress bar -->
          <div class="progress-bar-wrapper">
            <mat-progress-bar [value]="progressPercentage" mode="determinate"></mat-progress-bar>
            <div class="progress-label">{{ progressPercentage }}%</div>
          </div>   
        </div>
        <div class="project-description">{{ project.description }}</div>
      </div>
  
      <div class="employees-container">
        <div class="employee-list" *ngIf="employees.length > 0; else noEmployees">
          <div class="employee-card" *ngFor="let employee of employees">
            <div class="employee-avatar"></div>
            <div class="employee-name-wrapper">
              <div class="employee-name">{{ employee.firstName }} {{ employee.lastName }}</div>
              <div class="employee-mail">{{ employee.email }}</div>
            </div>
          </div>
        </div>
        <ng-template #noEmployees>
          <p>No employees are assigned to this project.</p>
        </ng-template>
      </div>
    </div>
    
    <!-- <div class="action-buttons">
      <button mat-button color="primary" (click)="editProject()">Edit</button>
      <button mat-button color="warn" (click)="deleteProject()">Delete</button>
    </div> -->
  </mat-dialog-content>
  
