<div class="employee-profile" @fadeInAnimation>
  <div class="profile-header" *ngIf="employee">
    <div class="profile-picture">
      <img src="/assets/icons/default-avatar.png" alt="{{ employee.firstName }} {{ employee.lastName }}">
    </div>
    <div class="employee-info">
      <div class="employee-name">{{ employee.firstName }} {{ employee.lastName }}</div>
      <div class="employee-position">{{ employee.job?.title }}</div>
    </div>
  </div>

  <div class="profile-body" *ngIf="employee">
    <div class="statistics-cards">
      <div class="statistics-card">
        <mat-icon>people</mat-icon>
        <div class="card-title">Preostali Dani Godišnjeg Odmora</div>
        <div class="card-value">
          {{ employee.employeeLeaveRecord?.remainingAnnualLeave ?? 0 }} / {{ employee.employeeLeaveRecord?.annualLeaveDays ?? 0 }}
        </div>
      </div>
      <div class="statistics-card">
        <mat-icon>schedule</mat-icon>
        <div class="card-title">Preostali Dani Bolovanja</div>
        <div class="card-value">
          {{ employee.employeeLeaveRecord?.remainingSickLeave ?? 0 }} / {{ employee.employeeLeaveRecord?.sickLeaveDays ?? 0 }}
        </div>
      </div>
    </div>

    <div class="profile-details">
      <div class="detail-group">
        <hr>
        <div class="detail-label">Odjel</div>
        <div class="detail-value">{{ department?.name || 'N/A' }}</div>
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Projekt</div>
        <div class="detail-value">{{ project?.name || 'N/A' }}</div>
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Lokacija</div>
        <div class="detail-value">{{ employee.address }}</div>
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Telefon</div>
        <div class="detail-value">{{ employee.phoneNumber }}</div>
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Email</div>
        <div class="detail-value">{{ employee.email }}</div>
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Plaća</div>
        <div class="detail-value">{{ employee.salary | currency: 'EUR' }}</div>
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Datum Zapošljavanja</div>
        <div class="detail-value">{{ employee.dateOfHire | date: 'dd.MM.yyyy' }}</div>
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">ID Zaposlenika</div>
        <div class="detail-value">{{ employee.id }}</div>
        <hr>
      </div>
    </div>
    <div class="button-add" mat-button (click)="openEditEmployeeDialog(employee)">Uredi Zaposlenika</div>
  </div>
</div>
