<div class="employee-profile" @fadeInAnimation>
  <div class="profile-header" *ngIf="employee">
    <div class="profile-picture">
      <img src="/assets/icons/default-avatar.png" alt="{{ employee.firstName }} {{ employee.lastName }}">
    </div>
    <div class="employee-info">
      <div class="employee-name">{{ employee.firstName }} {{ employee.lastName }}</div>
      <div class="employee-position">{{ employee.jobTitle }}</div>
    </div>
  </div>

  <div class="profile-body" *ngIf="employee">
    <div class="statistics-cards">
      <div class="statistics-card">
        <mat-icon>people</mat-icon>
        <div class="card-title">Vacation Days Left</div>
        <div class="card-value">{{ employee.remainingAnnualLeave ?? 0 }} / {{ employee.annualLeaveDays ?? 0 }}</div>
      </div>
      <div class="statistics-card">
        <mat-icon>schedule</mat-icon>
        <div class="card-title">Sick Days Left</div>
        <div class="card-value">{{ employee.remainingSickLeave ?? 0 }} / {{ employee.sickLeaveDays ?? 0 }}</div>
      </div>
      <div class="statistics-card">
        <mat-icon>assignment</mat-icon>
        <div class="card-title">Projects Completed</div>
        <div class="card-value">8 / 12</div>
      </div>
    </div>

    <div class="profile-details">
      <div class="detail-group">
        <hr>
        <div class="detail-label">Department</div>
        <div class="detail-value">{{  'N/A' }}</div> 
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Location</div>
        <div class="detail-value">{{ employee.address }}</div> 
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Manager</div>
        <div class="detail-value">{{ employee.managerId }}</div>
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Hire Date</div>
        <div class="detail-value">{{ employee.dateOfHire | date:'MM/dd/yyyy' }}</div>
      </div>
      <div class="detail-group">
        <hr>
        <div class="detail-label">Employee ID</div>
        <div class="detail-value">{{ employee.id }}</div>
        <hr>
      </div>
    </div>
    <div class="button-add" mat-button (click)="openEditEmployeeDialog(employee)">Edit Employee</div>
  </div>
</div>
