.employee-profile {
  background-color: white;
  margin: 32px 0 0 32px;
  padding: 40px;
  border-radius: 12px;
  height: 100vh;

  .profile-header {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;

    .profile-picture {
      height: 120px;
      width: 120px;
      border-radius: 70px;
      background-color: var(--secondary-color);
    }

    .employee-info {
      display: flex;
      flex-direction: column;

      .employee-name {
        font-size: 24px;
        font-family: 'Poppins-Semibold';
      }

      .employee-position {
        font-size: 16px;
      }
    }
  }

  .profile-body {
    display: flex;
    gap: 60px;

    .statistics-cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: var(--primary-color);

      .statistics-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: var(--background-color);
        padding: 20px;
        border-radius: 12px;
        width: 160px;

        .card-value {
          font-size: 24px;
          font-family: 'Poppins-Semibold';
        }
      }
    }

    .profile-details {
      display: flex;
      flex-direction: column;
      gap: 0px;
      width: 100%;

      .detail-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .detail-label {
          color: var(--text-50-color);
        }

        .detail-value {
          font-family: 'Poppins-Medium';
        }

        hr {
          border: 1px solid var(--background-color);
          margin: -1px;
        }
      }
    }
  }
}
