<div class="job-card-wrapper">
    <div class="job-card-title-wrapper">
        <div class="icon-title-wrapper">
            <div class="img"></div>
            <div class="title-wrapper">
                <div class="card-title">{{ job.title }}</div>
                <div class="card-subtitle">{{ job.location }}</div>
            </div>
        </div>
        <div class="icons-wrapper">
            <mat-icon class="icon" (click)="onEditClick()">edit</mat-icon>
            <mat-icon class="icon" (click)="onDeleteClick()">delete</mat-icon>            
        </div>
    </div>

    <div class="details-wrapper">
        <div class="job-priority">{{ JobPriority[job.priority] }}</div>
        <div class="job-date">{{ job.postedDate | date:'d MMM yyyy' }}</div>
    </div>

    <div class="description-wrapper">
        {{ job.description }}
    </div>

    <div class="button-wrapper" (click)="openApplyDialog()">Prijavi se</div>
</div>
