<div class="form-wrapper">

  <h2 mat-dialog-title>{{ isEdit ? 'Uredi odjel' : 'Dodaj novi odjel' }}</h2>
  <mat-dialog-content>
    <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
      
      <!-- Department Name -->
      <mat-form-field appearance="fill" class="input-wide">
        <mat-label>Ime odjela</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="departmentForm.get('name')?.hasError('required')">
          Potrebno je ime odjela
        </mat-error>
      </mat-form-field>
      
      <!-- Manager ID -->
      <mat-form-field appearance="fill" class="input-wide">
        <mat-label>Menadžer</mat-label>
        <mat-select formControlName="managerId">
          <mat-option *ngFor="let manager of managers" [value]="manager.id">{{ manager.firstName + ' ' + manager.lastName }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Optional: Employees Array (Placeholder) -->
      <div *ngIf="departmentForm.get('employees')?.value.length > 0">
        <p>Zaposlenici: {{ departmentForm.get('employees')?.value.length }}</p>
      </div>
      
      <button mat-button type="submit">{{ isEdit ? 'Edit Department' : 'Add Department' }}</button>
    </form>
  </mat-dialog-content>
  
</div>