<div class="employees-screen-wrapper" @fadeInAnimation>
  <div class="employee-container">
    <div class="filter-container">
      <mat-form-field appearance="outline">
        <mat-label>Pretraži Zaposlenika</mat-label>
        <input matInput [(ngModel)]="searchText" placeholder="Unesite ime zaposlenika">
      </mat-form-field>
      <div *ngIf="role === 'Admin'" class="button-add" (click)="openDialog()" >
        + Dodaj novog zaposlenika
      </div>
    </div>
  
    <table mat-table [dataSource]="getFilteredEmployees()">
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
      </ng-container> -->
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Ime </th>
        <td mat-cell *matCellDef="let employee" class="employee-name"> {{employee.firstName}} {{employee.lastName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Broj Telefona </th>
        <td mat-cell *matCellDef="let employee"> {{employee.phoneNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Odjel </th>
        <td mat-cell *matCellDef="let employee"> {{ getDepartmentName(employee.departmentId) }} </td>
      </ng-container>
      
      <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef> Posao </th>
        <td mat-cell *matCellDef="let employee"> {{ employee.job.title }} </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="dateOfHire">
        <th mat-header-cell *matHeaderCellDef> Datum Zapošljavanja </th>
        <td mat-cell *matCellDef="let employee"> {{employee.dateOfHire | date}} </td>
      </ng-container> -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToEmployeeProfile(row)">
      </tr>
    </table>
  </div>
</div>
