<div class="form-wrapper">
  <h2 mat-dialog-title>{{ isEdit ? 'Uredi posao' : 'Dodaj novi posao' }}</h2>
  <mat-dialog-content>
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" class="form-container">
      
      <div class="form-row">
        <mat-form-field appearance="fill" class="input-wide">
          <mat-label>Naslov posla</mat-label>
          <input matInput formControlName="title" required>
          <mat-error *ngIf="jobForm.get('title')?.hasError('required')">
            Potreban je naslov.
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="input-wide">
          <mat-label>Opis posla</mat-label>
          <textarea matInput formControlName="description" required></textarea>
          <mat-error *ngIf="jobForm.get('description')?.hasError('required')">
            Potreban je opis.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="input-wide">
          <mat-label>Odjel</mat-label>
          <mat-select formControlName="departmentId">
            <mat-option *ngFor="let department of departmentOptions" [value]="department.id">
              {{ department.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="jobForm.get('departmentId')?.hasError('required')">
            Potreban je odjel.
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-row">      
        <mat-form-field appearance="fill">
          <mat-label>Lokacija</mat-label>
          <mat-select formControlName="location" required>
            <mat-option value="Remote">Remote</mat-option>
            <mat-option value="Office">Office</mat-option>
            <mat-option value="Hybrid">Hybrid</mat-option>
          </mat-select>
          <mat-error *ngIf="jobForm.get('location')?.hasError('required')">
            Potrebna je lokacija.
          </mat-error>
        </mat-form-field>
    
        <!-- Priority -->
        <mat-form-field appearance="fill">
          <mat-label>Prioritet</mat-label>
          <mat-select formControlName="priority" required>
            <mat-option *ngFor="let priority of priorityOptions" [value]="priority.value">
              {{ priority.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="jobForm.get('priority')?.hasError('required')">
            Potreban je prioritet.
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Datum objave</mat-label>
          <input matInput type="date" formControlName="postedDate" required>
          <mat-error *ngIf="jobForm.get('postedDate')?.hasError('required')">
            Potreban je datum objave.
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label>Datum zatvaranja</mat-label>
          <input matInput type="date" formControlName="closingDate">
          <mat-error *ngIf="jobForm.get('closingDate')?.hasError('dateAfter')">
            Datum zatvaranja mora biti nakon datuma objave
          </mat-error>
        </mat-form-field>
      </div>  
      <button mat-button type="submit">{{ isEdit ? 'Uredi Posao' : 'Dodaj Posao' }}</button>
    </form>
  </mat-dialog-content>
  
</div>