<div class="navbar">
  <div class="menu-title">RadniFlow</div>
  <div class="nav-left">
    <div class="nav-item" *ngIf="!isLoggedIn" (click)="navigateToJobs()">Oglasi</div>
    <div *ngIf="isLoggedIn; else loginTemplate" class="employee-info-wrapper">
      <div class="employee-info">
        <div class="employee-name">{{ displayName }}</div>
        <div class="employee-department">{{ displayJobTitle }}</div>
      </div>
      <div class="employee-avatar" (click)="navigateToProfile()"></div>
      <div class="btn-logout" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </div>
    </div>

    <ng-template #loginTemplate>
      <div class="btn-logout" (click)="onLogin()">
        <mat-icon>login</mat-icon>
        Prijavi se
      </div>
    </ng-template>
  </div>
</div>
