<div class="recruitment-screen-wrapper" @fadeInAnimation>

  <div class="filter-dropdown">
    <mat-form-field>
      <mat-select [(value)]="selectedJobId" (selectionChange)="GetJobByIdWithCandidates()">
        <mat-option *ngFor="let job of jobs" [value]="job.id">
          {{ job.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <div class="button-add" (click)="openDialog()">
      + Add new candidate
    </div> -->
  </div>

  <div class="recruitment-cards-wrapper" >
    <div *ngFor="let column of recruitmentStatuses" class="recruitment-column-wrapper">
      <div class="status-tab-wrapper" 
        [ngStyle]="{'background-color': getStatusBackgroundColor(column.status)}">
        <div 
          class="status-text" 
          [ngStyle]="{'color': getStatusTextColor(column.status)}">
          {{ getStatusLabel(column.status) }}
        </div>
        <div 
          class="status-text" 
          [ngStyle]="{'color': getStatusTextColor(column.status)}">
          {{ column.count }}
        </div>
      </div>
    
      <div class="recruitment-column-cards-wrapper">
        <ng-container *ngFor="let candidate of column.candidates">
          <app-recruitment-card 
            [candidate]="candidate"
            (statusUpdated)="GetJobByIdWithCandidates()"
          ></app-recruitment-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
