<div class="recruitment-cards-wrapper" @fadeInAnimation>
    <div *ngFor="let column of recruitmentStatuses" class="recruitment-column-wrapper">
      <div class="status-tab-wrapper">
        <div class="status-text">{{ column.status }}</div>
        <div class="status-text">{{ column.count }}</div>
      </div>
      <div class="recruitment-column-cards-wrapper">
        @for (candidate of candidates; track candidate){
          <app-recruitment-card [candidate]="candidate"></app-recruitment-card>
        }
      </div>
    </div>
</div>
