<div class="button-add" (click)="openDialog()">
  + Add new candidate
</div>

<div class="recruitment-cards-wrapper" @fadeInAnimation>
    <div *ngFor="let column of recruitmentStatuses" class="recruitment-column-wrapper">
      <div class="status-tab-wrapper">
        <div class="status-text">{{ getStatusLabel(column.status) }}</div> <!-- Use getStatusLabel -->
        <div class="status-text">{{ column.count }}</div>
      </div>
      <div class="recruitment-column-cards-wrapper">
        <ng-container *ngFor="let candidate of column.candidates">
          <app-recruitment-card 
            [candidate]="candidate"
            (statusUpdated)="GetJobByIdWithCandidates()"
          ></app-recruitment-card>
        </ng-container>
      </div>
    </div>
</div>
