<h2 mat-dialog-title>{{ isEdit ? 'Edit Employee' : 'Add New Employee' }}</h2>
<mat-dialog-content>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required>
      <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">
        First Name is required.
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required>
      <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')">
        Last Name is required.
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">
        Invalid email format.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Date of Hire</mat-label>
      <input matInput type="date" formControlName="dateOfHire" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Job ID</mat-label>
      <input matInput type="number" formControlName="jobId" required>
      <mat-error *ngIf="employeeForm.get('jobId')?.hasError('required')">
        Job ID is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Department ID</mat-label>
      <input matInput type="number" formControlName="departmentId" required>
      <mat-error *ngIf="employeeForm.get('departmentId')?.hasError('required')">
        Department ID is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Job Title</mat-label>
      <input matInput formControlName="jobTitle">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Salary</mat-label>
      <input matInput type="number" formControlName="salary" min="0">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Employment Status</mat-label>
      <mat-select formControlName="employmentStatus" required>
        <mat-option value="Active">Active</mat-option>
        <mat-option value="Not Active">Not Active</mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('employmentStatus')?.hasError('required')">
        Employment Status is required.
      </mat-error>
    </mat-form-field>

    <button mat-button type="submit">{{ isEdit ? 'Edit Employee' : 'Add Employee' }}</button>
  </form>
</mat-dialog-content>
