<div class="form-wrapper">

<h2 mat-dialog-title>{{ isEdit ? 'Uredi Zaposlenika' : 'Dodaj Novog Zaposlenika' }}</h2>

<mat-dialog-content>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

    <!-- Personal Information Section -->
    <h3>Osobni Podaci</h3>
    <mat-form-field appearance="fill">
      <mat-label>Ime</mat-label>
      <input matInput formControlName="firstName" required>
      <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">
        Ime je obavezno.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prezime</mat-label>
      <input matInput formControlName="lastName" required>
      <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')">
        Prezime je obavezno.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
      <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">
        Neispravan format email adrese.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Adresa</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Broj Telefona</mat-label>
      <input matInput type="tel" formControlName="phoneNumber">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Datum Zapošljavanja</mat-label>
      <input matInput type="date" formControlName="dateOfHire" required>
      <mat-error *ngIf="employeeForm.get('dateOfHire')?.hasError('required')">
        Datum zapošljavanja je obavezan.
      </mat-error>
    </mat-form-field>

    <!-- Job Information Section -->
    <h3>Informacije o Poslu</h3>
    <mat-form-field appearance="fill">
      <mat-label>Posao</mat-label>
      <mat-select formControlName="jobId">
        <mat-option *ngFor="let job of jobs" [value]="job.id">{{ job.title }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Odjel</mat-label>
      <mat-select formControlName="departmentId">
        <mat-option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Projekt</mat-label>
      <mat-select formControlName="projectId">
        <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('projectId')?.hasError('required')">
        Projekt je obavezan.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Plaća</mat-label>
      <input matInput type="number" formControlName="salary" min="0">
      <mat-error *ngIf="employeeForm.get('salary')?.hasError('min')">
        Plaća mora biti nenegativan broj.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status Zaposlenja</mat-label>
      <mat-select formControlName="employmentStatus" required>
        <mat-option value="Active">Aktivan</mat-option>
        <mat-option value="Not Active">Neaktivan</mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('employmentStatus')?.hasError('required')">
        Status zaposlenja je obavezan.
      </mat-error>
    </mat-form-field>

    <!-- Leave Details Section -->
    <h3>Podaci o Godišnjem i Bolovanju</h3>
    <div formGroupName="employeeLeaveRecord">
      <mat-form-field appearance="fill">
        <mat-label>Dani Godišnjeg Odsustva</mat-label>
        <input matInput type="number" formControlName="remainingAnnualLeave" min="0">
        <mat-error *ngIf="employeeForm.get('employeeLeaveRecord.remainingAnnualLeave')?.hasError('min')">
          Dani godišnjeg odmora moraju biti nenegativan broj.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dani Bolovanja</mat-label>
        <input matInput type="number" formControlName="remainingSickLeave" min="0">
        <mat-error *ngIf="employeeForm.get('employeeLeaveRecord.remainingSickLeave')?.hasError('min')">
          Dani bolovanja moraju biti nenegativan broj.
        </mat-error>
      </mat-form-field>
    </div>

    <mat-icon class="icon" (click)="onDeleteClick()">delete</mat-icon>            
    <button mat-button type="submit">{{ isEdit ? 'Uredi Zaposlenika' : 'Dodaj Zaposlenika' }}</button>
  </form>
</mat-dialog-content>
</div>
