.job-card-wrapper {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;

  hr{
    margin:0;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .job-card-title-wrapper {
    display: flex;
    align-items: center;
    padding: 15px;

    .img {
      background-color: var(--secondary-color);
      border-radius: 50px;
      height: 50px;
      width: 50px;
      margin-right: 15px;
    }

    .title-wrapper {
      width: 200px;

      .card-title {
        font-size: 16px;
      }

      .card-subtitle {
        font-size: 14px;
        color: var(--primary-color);
      }
    }
  }

  .details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    color: var(--primary-color);

    mat-icon{
      font-size: 20px;
      cursor: pointer;
    }

    .card-subtitle.link {
      cursor: pointer;
    }
  }
}

.status-dropdown{
  margin-top: 10px;
}